@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body.light-mode {
  background-color: #fff;
  color: #333;
  transition: background-color 0.3s ease;
}
body.dark-mode {
  background-color: black;
  color: white;
}
